<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="indexSearch" class="com.quest.lucene.search.search.IndexSearch"/>
    <bean id="indexPersist" class="com.quest.lucene.search.index.IndexPersist"/>
    <bean id="fileSearchService" class="com.quest.lucene.web.service.FileSearchService"/>
</beans>